<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="org.pescuma.icm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <org.pescuma.icm.Properties.Settings>
            <setting name="CenterX" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="CenterY" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Bytes" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="ProblemThresholdMs" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="FailThresholdMs" serializeAs="String">
                <value>1500</value>
            </setting>
            <setting name="TimeoutMs" serializeAs="String">
                <value>1500</value>
            </setting>
            <setting name="TestEachMs" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="ZenerFactor" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="AverageWindow" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="AverageType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GaussianAverageSigma" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="GaussianAverageGuessWindow" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="GrowlServer" serializeAs="String">
                <value />
            </setting>
            <setting name="GrowlPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="Servers" serializeAs="String">
                <value />
            </setting>
        </org.pescuma.icm.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
